# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.local
.env.*.local

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# turbo
.turbo/

# expo
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# testing
coverage/

# misc
.DS_Store
*.log
npm-debug.log*
.vscode/
.idea/
